version: "3.9"

services:
  webserver:
    image: php:8.0-apache
    ports:
      - 3000:80
    depends_on:
      - db
    volumes:
      - "${MOODLE_DOCKER_WWWROOT}:/var/www/html"
    environment:
      - "DB_USER=superuser"
      - "DB_PASSWORD=P@ssw0rd"

  db:
    image: postgres:13
     environment: 
      - "POSTGRES_USER=superuser"
      - "POSTGRES_PASSWORD=P@ssw0rd"
