version: "3.9"

services:
  webserver:
    build:
      context: ./backend
      dockerfile: DOCKERFILE
    command: python main.py
    ports:
      - 5000:5000
    depends_on:
      - db
    restart: always
    volumes:
      - "./backend:/backend"
    environment:
      - "FLASK_ENV=development"
      - "DB_USER=postgres"
      - "DB_PASSWORD=password"
      - "DB_NAME=postgres"
      - "DB_HOST=db"
      - "DB_PORT=5432"

  db:
    image: postgres:13
    restart: always
    ports:
      - "5432:5432"
    environment:
      - "POSTGRES_USER=postgres"
      - "POSTGRES_PASSWORD=password"
    volumes:
      - "./database.sql:/docker-entrypoint-initdb.d/database.sql"

  webapp:
    build:
      context: ./webapp
      dockerfile: DOCKERFILE
    ports:
      - 3000:8080
    depends_on:
      - db
    restart: always
    volumes:
      - "./webapp:/webapp"
