version: "3.9"

services:
  webserver:
    build:
      context: ./backend
      dockerfile: DOCKERFILE
    command: python server.py
    ports:
      - 5000:5000
    depends_on:
      - db
    volumes:
      - "./backend:/backend"
    environment:
      - "FLASK_ENV=development"
      - "DB_USER=postgres"
      - "DB_PASSWORD=P@ssw0rd"

  db:
    image: postgres:13
    ports:
      - "5432:5432"
    environment:
      - "POSTGRES_USER=postgres"
      - "POSTGRES_PASSWORD=P@ssw0rd"
    volumes:
      - "./database.sql:/docker-entrypoint-initdb.d/database.sql"
